##############################################
# 基本環境設定 (Homebrew / PATH)
##############################################

# Homebrew
{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

# mise
eval "$(/home/tenmihi/.local/bin/mise activate zsh)"

# PATH
export PATH="$HOME/.local/bin:$PATH"


##############################################
# シェル基本設定
##############################################

# Vim キーバインド
set -o vi

# ヒストリ設定 (先頭スペース・重複を無視)
setopt hist_ignore_space hist_ignore_dups

# 既定エディタ
EDITOR=vim


##############################################
# エイリアス
##############################################

{{- if eq .chezmoi.os "darwin" }}
# rm の代わりに trash を使用
alias rm=trash
{{- end }}


##############################################
# ghq / peco ユーティリティ
##############################################

ghq-cd() {
  local repo
  repo=$(ghq list -p | peco)
  if [ -n "$repo" ]; then
    cd "$repo"
  fi
}

ghq-open() {
  local repo
  repo=$(ghq list -p | peco)
  if [ -n "$repo" ]; then
    code "$repo"
  fi
}


##############################################
# fzf 履歴検索 (Ctrl-r)
##############################################

function fzf-select-history() {
    BUFFER=$(history -n -r 1 | fzf --query "$LBUFFER" --reverse)
    CURSOR=$#BUFFER
    zle reset-prompt
}
zle -N fzf-select-history
bindkey '^r' fzf-select-history


##############################################
# ローカル設定
##############################################

if [ -f "$HOME/.zshrc.local" ]; then
    source "$HOME/.zshrc.local"
fi
